/*00.Header*/
/*01.Accueil*/
/*02.A propos*/
/*03.Actualité*/
/*04.Films*/
/*05.Réservation*/
/*06.Contact*/
/*07.Footer*/

/* FONT */
/*title font-family: 'Montserrat', sans-serif;*/

/*COLORS*/
/*
	black :#1f2c34;
	red : #e96b55;
	green :#5eab99;
	yellow:#f0f193;
	brown:#cac1bd;

*/
/*Paramètre généraux*/
body, html{
	padding: 0;
	margin: 0;
}

body{
	background-color: #cac1bd;
}

.container{
	background-color: lightblue;
}

aside{
	background-color: grey;
	width: 100%;
	height: 300px;
}
a, a:hover{
	text-decoration: none;
}

h2{
	font-family: 'Montserrat', 'sans-serif';
	font-weight: bold;
	text-transform: uppercase;
	border-left:5px solid #e96b55;
	line-height: 1.3;
	padding-left: 15px;
	margin-top: 20%;
}

/*test image bkg*/
/*.welcome{
	margin: 0;
	padding: 0;
	background:url(images/festivalFilmsPleinAir.png) no-repeat center fixed;
	background-size: cover;
}*/

/*00.Header*/




/*01.Accueil*/
.welcome aside {
	margin: 0;
	padding: 0;
	/*background-color: red;*/
	background: url("../images/festivalFilmsPleinAir.png") no-repeat bottom ;
	background-size: 100% auto;
}

/*02.A propos*/

/*03.Actualité*/

/*04.Films*/

/*05.Réservation*/

/*06.Contact*/

/*07.Footer*/