/*00.Header*/
/*01.Accueil*/
/*02.A propos*/
/*03.Actualité*/
/*04.Films*/
/*05.Réservation*/
/*06.Contact*/
/*07.Footer*/

/* FONT */
/*title font-family: 'Montserrat', sans-serif;*/

/*COLORS*/
/*
	black :#1f2c34;
	red : #e96b55;
	green :#5eab99;
	yellow:#f0f193;
	brown:#cac1bd;

*/
/*Paramètre généraux*/
body, html{
	padding: 0;
	margin: 0;
}

a, a:hover{
	text-decoration: none;
}

h2{
	font-family: 'Montserrat', 'sans-serif';
	font-weight: bold;
}

/*00.Header*/

/*01.Accueil*/

/*02.A propos*/

/*03.Actualité*/

/*04.Films*/

/*05.Réservation*/

/*06.Contact*/

/*07.Footer*/