//Basic setting
//00.Header
//01.Accueil
//02.A propos
//03.Actualité
//04.Films
//05.Réservation
//06.Contact
//07.Footer
//08. films.html

// Fonts
$fontTitle :        'Monserrat', sans-serif;
$fontContent :      'Open Sans', sans-serif;

//Colors
$black :            #1f2c34;
$red :              #e96b55;
$green :            #5eab99;
$yellow:            #f0f193;
$brown:             #cac1bd;
$grey:              #595959;
$footer:            #2e4047;

//Buttons
$myBtnBkg:          transparent;
$myBtnBorder:       2px solid $red;
$myBtnRaduis:       25px;
$myBtnFontColor:    $red;
$myBtnFontWeight:   600;

//Basic setting
body, html{
    padding: 0;
    margin: 0;
}

body{
    font-family: $fontContent;
    color: $grey;
    position: relative;
    h1, h2 {
        text-transform: uppercase;
        color: $black;
        font-family: $fontTitle;
        font-weight: 700;
        border-left : 5px solid $red;
        padding-left: 5%;
        margin-bottom:3%;
    }
    a{
        color:$red;
        &:hover{
            color: $green;
            text-decoration: none;
        }
    }
    .btn-custom{
        background: $myBtnBkg;
        border: $myBtnBorder;
        border-radius: $myBtnRaduis;
        color: $myBtnFontColor;
        font-weight: $myBtnFontWeight;
        text-transform: uppercase;
        &:hover{
            border-color: $green;
            color : $green;
        }   
    }
    .container-fluid{
        
        padding: 0;
        aside{
            padding: 0;
        }
        article{
           padding : 3% 2%;
        }
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: $myBtnBorder; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: transparent; /* Set a background color */
        color: $myBtnFontColor; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }
    
    #myBtn:hover {
        background-color: $yellow; /* Add a dark-grey background on hover */
    } 
}

//00.Header
.maNav{
    background: $black;

    .navbar-nav a.nav-link{
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        &:hover{
            color: $green;
        }
    }
    .navbar-nav a.nav-link.active{
        color: $green;
    }
}

//01.Accueil
// Problem on the left, there is a gap on the left side of the navbar and asides 
// Fixed --> add a .container in the .container-fluid.welcome div

.welcome {
    aside{
        background: url("../images/01-welcomeAside.jpg") no-repeat bottom ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
    article{
        background: $red;
        color: white;
        text-align: center;
        text-transform: uppercase;
        //padding: 3% 2%;
        .date{ 
            padding: 5% 0 7%;
            span{
                display: block;
                font-family: 'Montserrat', sans-serif; //demander à marc pourquoi la Var ne fonctionne pas ici.
                font-weight: 700;
                }
            }
            .textshadow{
                font-size: 4rem;
                text-shadow: 5px 0px 0px rgba(94, 171, 153, 1)
            }
            .btn-custom{
                color: $yellow;
                border-color: $yellow;
                margin-top:5%;
                &:hover{
                    color: white;
                    border-color: white;
                }
            }
        
    }
}
//02.A propos

.about{
    aside{
        background: url("../images/02-parcMonceauAside.jpg") no-repeat center ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}

//03.Actualité
.news{
    aside{
        background: url("../images/03-actuAside.jpg") no-repeat center ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
//04.Films
.movie{
    
    background: #f8d480 url("../images/04-filmsBkg.jpg") no-repeat bottom ;
    background-size: 100% auto;
    height: auto;  
    min-height: 200px;
    .row{
        padding: 3% 2%;
            }
}
//05.Réservation
.booking{
    aside{
        background: url("../images/festivalFilmDePleinAirBKGResa.png") no-repeat center ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.form-group{
    position: relative;
}
//06.Contact
.contactPage .col-sm-12{
    .cardForm{
        margin-bottom: 3%;
    }
}
.address{
    h2{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
    .contactIcons{
        display: inline-block;  
    }
    .banContact{
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        
        img{
            width: 100%;
            position: absolute;
            top:-35%;
        }
    }
}
//07.Footer
footer{
    background: $footer;
    color: white;
    h2{
        font-size: 1.5rem;
    }
    .footerLinks a{
        display: block;
        color: white;
        &:hover{
            color: $green;
        }
    }
    .social{
        .socialicons a{
            color: white;
            font-size:1.5rem;
            line-height: 45px;
            margin-right: 5%;
            text-align: center;
            display: inline-block;
            width: 45px;
            height: 45px;
            background-color: $red;
            border-radius:45px;
            &:hover{
                background-color: $green;
            }
   
        }
    }
    .socketBkg{
        background: $black;
        width: 100%;
        font-size:0.8rem;
        p{
            padding: 1% 0%;
        }
    }
    h2{
        color: white;
       
    }
}

//08. films.html
.jumbotron {
    background: $green;
    span{
        color: white;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: xx-large;
        font-weight: 700;
    }
}

.container-fluid.filmlist{
    padding-top: 3%;
    h3{
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
    }
    .note{
        color:$red;
        margin: 3% 0%;
    }
    span{
        color:lightgrey;
        padding-right: 2%;
    }  
}
.film01{
    aside{
        background: url("../images/01-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film02{
    aside{
        background: url("../images/02-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film03{
    aside{
        background: url("../images/03-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film04{
    aside{
        background: url("../images/04-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film05{
    aside{
        background: url("../images/05-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film06{
    aside{
        background: url("../images/06-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film07{
    aside{
        background: url("../images/07-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film08{
    aside{
        background: url("../images/08-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film09{
    aside{
        background: url("../images/09-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film10{
    aside{
        background: url("../images/10-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film11{
    aside{
        background: url("../images/11-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}
.film12{
    aside{
        background: url("../images/12-films.jpg") no-repeat top ;
        background-size: 100% auto;
        height: auto;  
        min-height: 200px;
    }
}

// 0.9 Blog
.infoBlog{
    color: lightgrey;
    font-size: x-small;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}